body {
	background-color:#ebebeb;
	font-family: "Trebuchet MS", verdana, arial, sans-serif; 
	font-size: .8em; 
    background-color:#ccc;
    color:black;
    padding-top:5px;
}
#h_main {
	width:800px;
	margin:0 auto;
}
#h_body_main {
	width:800px;
	margin:0 auto;
	background-color:#fff;
}
.column_right {
	width:200px;
	border-left:1px solid silver;
}
#blog1 {
	margin:20px;
}
#contentBox1 {
	background-color:#000;
	padding:15px;
}
#FlickrFeed1 {
	margin-top:20px;
}
#login1 {
	width:170px;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:20px;
	background-color:#ebebeb;
	padding:5px;
	font-size:10px;
	border:1px solid silver;
}
#login1  td, #login1 input {
	font-size:10px;
}